* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
text-decoration: none;
font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;   
}

img{
    max: width 100px;
}

:root {
    --header-bg-color: fuchsia;
    --presentation-bg-color: #f8f9fa;
    --sources-bg-color: fuchsia;
    --project-bg-color: fuchsia;
    --primary-color: fuchsia;
    --text-color: #333;
    --background-color: #fff;
    --primario: #EF1ECE;
    --secundario: #7BC234;
    --medio-oscuro: #6F2563;
    --medio:#b24ca2;
    --claro:#d9a6d1;
    --fondo:#fae5f7;
    --blanquecino:#fef5fd;
    --blanco:#ffffff;
}



/*agregamos los estilos de celular*/
.main{
    overflow: hidden;
    padding: 24px;
}

.banner{
    display: flex;
    flex-direction: column;
    gap:32px;
    margin-bottom:20px ;
    
   .usuario{
        background-color:var(--fondo) ;
        border-radius: 20px ;
        display:flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:16px;
        padding:20px;
        
        img{
          width: 120px;
        height: 120px;
        object-fit:cover;
        border-radius: 60px;
            }
        
            .datos{
                display: flex;
                flex-direction: column;
                gap:16px ;
        
            .datos__nombre{
                display: flex;
                flex-direction:column ;
                gap: 8px;
        
               h1{
                   font-size: 24px; 
                   text-align: center;
                   color:var(--medio-oscuro) ;
                }
        
                p{
                    font-size: 16px;
                    text-align:center ;
                    color: var(--medio-oscuro);
                }
        
               }
               .datos__icons{
                display:flex ;
                justify-content: center;
                gap: 16px;
        
                a{
                    font-size:24px ;
                    line-height: 24px;
                    color: var(--medio-oscuro);
                    transition: .3s ease-in-out;
                }
        
                a:hover{
                   color: var(--primario); 
                }

               }
        
          .datos__cv{
                display: flex;
                justify-content: center;
         
         a{
            background-color: var(--primario);
            padding:8px 16px ;
            border-radius: 8px;
            color: var(--blanco);
            font-weight:500 ;
            width: max-content;
            transition: .3s ease-in-out;
        }
        
        a:hover{
            color:var(--medio-oscuro) ;
            background-color:var(--Secundario) ;
        }
                }
         }
       }
     
  .titular{
            display: flex;
            flex-direction:column ;
            gap:8px;

             p{
                text-align: center;
                color:var(--medio-oscuro);
                font-size:16px ;
             }

            h2{
                text-align: center;
                color: var(--medio-oscuro);
              font-size:20px ; 
            }
        }
   
   
    }

 .proyectos{
    display:grid ;
    grid-template-columns: repeat(2,1fr);
    grid-gap:16px;
 
    .card{
        background-color: var(--fondo);
        border-radius: 16px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:12px ;

        img{
            width: 100%;
            height: 200px;
            object-fit:cover ;
            border-radius: 8px;
}

.info{
    display: flex;
    flex-direction:column ;
    gap: 8px;

    h2{
        font-size: 16px;
        text-align: center;
        color: var(--medio-oscuro);
    }

    p{
    font-size: 12px; 
    text-align: center; 
    color: var(--medio);  
    }

        }
   
   a{
     background-color: var(--primario);
     font-size: 16px;
     padding:4px 12px ;
     border-radius:8px ;
     color: var(--blanco);
     width:100%;
     min-width: max-content;
     text-align: center;
     transition: .3s ease-in-out;
   }

   a:hover{
    background-color: var(secundario);
    color: var(--medio-oscuro);
}
   }
    }




/*agregamos los estilos en modo escritorio*/
@media screen and (min-width: 1024px){
 main{
  padding: 64px;
   }

   .banner{
    background-color:var(--fondo);
    display: flex;
    flex-direction:row ;
    align-items: center;
    border-radius:24px ;
    padding: 32px;
 
 .usuario{
    padding: 0px;
    flex-direction: row;
    background-color:inherit ;
   /* background-color: red;*/
    border-radius: 0px;
    padding-right: 64px;
    margin-right: 64px;
    border-right: 1px solid var(claro);

img{
      width: 180px; 
      height:180px ; 
    }

    .datos{

.datos__nombre{
           
            h1{
             text-align: left; 
             font-size: 32px;  
            }

            p{
                text-align: left;
                font-size: 20px;
            }
        }

        .datos__icons{
            justify-content: flex-start;
        }

        .datos__cv{
            justify-content: flex-start;

            a{
               font-size: 16px ; 
            }
        }
    }
}

.titular{
    display:flex;
  gap:8px;
    flex-direction: column;
 
    p{
        font-size: 20px;
        color:var(--medio-oscuro);
        text-align: left;

 }
        h2{
             font-size: 32px;
             color:var(--medio-oscuro);
             text-align:left;
         }
       }
    }  
       
 .proyectos{
        grid-template-columns: repeat(3,1fr);
        grid-gap:24px;

        .card{
            border-radius: 24px;
            padding: 20px;
            gap:24px ;
    
            img{
                width: 100%;
                height: inherit;
                aspect-ratio: 4/2.5;
                border-radius: 12px;
    }
    
    .info{
        gap: 16px;
    
        h2{
            font-size: 20px;
        }
    
                 p{
                     font-size: 16px;  
                 }
    
            }
       
       a{
         font-size: 20px;
         padding:16px 32px ;
         border-radius:12px ;
         width:max-content;
       }
    
       }   
    }
 
 }

 

/* ESTILOS PAGINA INTERNA DE PROYECTO*/



body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
}

.header {
    background-color: var(--header-bg-color);
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
}

.header__h1 {
    font-family: 'poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.header__tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.header__tags--tag {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.presentation {
    background-color: var(--presentation-bg-color);
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.presentation__video {
    border-radius: 10px;
}

.presentation__info {
    text-align: center;
    display: grid;
    gap: 10px;
}

.presentation__h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.presentation__p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.presentation__cta {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: fuchsia;
    border-radius: 5px;
}
.presentation__cta a{
    margin-left: 4px;

}
.presentation__cta p, a {
    font-size: 1.1rem;
    color: #fff;
    padding: 10px 20px
    text-align: center;
}

.sources {
    background-color: var(--sources-bg-color);
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.sources__h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.sources__tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.sources__tags--span {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.sources__links ul {
    list-style-type: none;
    padding: 0;
}

.source__tags--li a {
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 5px;
}

.source__tags--li a:hover {
    text-decoration: underline;
}

/* Secci칩n de im치genes */
.project {
    background-color: var(--project-bg-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
}

.project__img {
    width: 100%;
}

.project__img img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .header__h1 {
        font-size: 2rem;
    }

    .presentation {
        grid-template-columns: 1fr;
    }

    .sources__tags {
        grid-template-columns: 1fr;
    }

    .project {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1024px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
    }

    .header__h1 {
        font-size: 3rem;
        margin-bottom: 15px;
    }

    .header__tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .presentation {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: start;
        gap: 30px;
        margin-bottom: 30px;
    }

    .sources {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 30px;
    }


    .project {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto; 
        gap: 20px; 
    }

    
    .project__img {
        width: 100%;
    }

    .project__img img {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
        border-radius: 10px; 
    }
}

   /* CODIGO ESTILOS PAGINA INTERNA*/
          

* 




.header {
    background-color: var(--header-bg-color);
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
}

.header__h1 {
    font-family: 'poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.header__tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.header__tags--tag {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.presentation {
    background-color: var(--presentation-bg-color);
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.presentation__video {
    border-radius: 10px;
}

.presentation__info {
    display: grid;
    gap: 10px;
}

.presentation__h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}



.sources {
    background-color: var(--sources-bg-color);
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.sources__h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.sources__tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.sources__tags--span {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.sources__links ul {
    list-style-type: none;
    padding: 0;
}

.source__tags--li a {
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 5px;
}

.source__tags--li a:hover {
    text-decoration: underline;
}

/* Secci칩n de im치genes */
.project {
    background-color: var(--project-bg-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
}

.project__img {
    width: 100%;
}

.project__img img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .header__h1 {
        font-size: 2rem;
    }

    .presentation {
        grid-template-columns: 1fr;
    }

    .sources__tags {
        grid-template-columns: 1fr;
    }

    .project {
        grid-template-columns: 1fr;
    }
    
    .iframe_video{
        width: -webkit-fill-available;
    }
   
}

@media (min-width: 1024px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
    }

    .header__h1 {
        font-size: 3rem;
        margin-bottom: 15px;
    }

    .header__tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .presentation {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: start;
        gap: 30px;
        margin-bottom: 30px;
    }

    .sources {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 30px;
    }


    .project {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto; 
        gap: 20px; 
    }

    
    .project__img {
        width: 100%;
    }

    .project__ img {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
        border-radius: 10px; 
    }

    .iframe_video{
        width: -webkit-fill-available;
    }

   
}


       
        

   



















































